

h1{
    color: aliceblue;
    text-align: center;
}

#wrapper{
    width: 60vw;
    margin: auto;
    background-color: rgb(218, 90, 90);
    color:aliceblue;
    padding: 2em;
    border-radius: 5%;
    line-height: 1.5;
    font-size: large2;
}


a{
    color: aliceblue;
}
a:hover{
    color: cornflowerblue;
}
